a.brand-logo {
  color: black;
  font-weight: thin;
  font-family: GillSans, Calibri, Trebuchet, sans-serif;
}
nav .brand-logo i.material-icons {
  margin-left: 15px;
}

.btn-small {
  color: black;
  font-weight: thin;
  font-family: GillSans, Calibri, Trebuchet, sans-serif;
  font-size: 12px;
}

nav a {
  color: black;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.container{
    margin-top: 30px;
    margin-bottom: 30px;
}

a.btn{
  margin-top: 30%;
}
.modal{
 max-height:100%;
 overflow:hidden;
}

input[type="submit"]{
  width: 100%;
  margin-top: 50px;
}
.modal-close{
  position: absolute;
  top:10px;
  right:10px;
  padding:0;
  margin:0;
}
